name: CI
on:
  push:
  pull_request:
jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: alire-project/setup-alire@v2
      - run: alr build
  build-macos:
    runs-on: macos-latest
    env:
      MACOSX_DEPLOYMENT_TARGET: "26.0"
    steps:
      - uses: actions/checkout@v4
      - uses: alire-project/setup-alire@v2
      - run: alr build
